/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

input[type="text"], button {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

#weatherInfo {
    margin-top: 20px;
}
