/* style.css */

#error {
    display: none; /* Hide the error alert box initially */
}

.card {
    max-width: 400px;
    margin: 0 auto;
}

.card-header {
    text-align: center;
}

#weatherInfo {
    text-align: center;
}

#weatherInfo p {
    margin-bottom: 0.5rem;
}
